extends ./layout.jade

block content
  .container
    .starter-div
      h1= title
      .row(data-ng-controller='priceController')
        .col-xs-3
          div(data-calc-brutto='1', data-amount='userPrice')
          p Ár:
            span(data-ng-bind='yourPrice')
            span !
      .row(data-ng-controller='userController')
        .col-xs-12
          include ./userTable.jade


        //each user in users
        //li #{user.id}: #{user.name} - #{user.email}
